[submodule "ansible-coreos-bootstrap"]
	path = ansible-coreos-bootstrap
	url = git@github.com:defunctzombie/ansible-coreos-bootstrap.git
[submodule "ansible-dumpall"]
	path = ansible-dumpall
	url = git@github.com:f500/ansible-dumpall
[submodule "ansible-elasticsearch"]
	path = ansible-elasticsearch
	url = git@github.com:elastic/ansible-elasticsearch.git
[submodule "ansible-flyway"]
	path = ansible-flyway
	url = git@github.com:amarao/ansible-flyway.git
[submodule "ansible-keepalived"]
	path = ansible-keepalived
	url = git@github.com:evrardjp/ansible-keepalived.git
[submodule "ansible-kvm"]
	path = ansible-kvm
	url = git@github.com:mrlesmithjr/ansible-kvm.git
[submodule "ansible-OpenWRT"]
	path = ansible-OpenWRT
	url = git@github.com:lefant/ansible-OpenWRT.git
[submodule "oravirt-oracle"]
	path = oravirt-oracle
	url = git@github.com:oravirt/ansible-oracle.git
[submodule "ansible-oracle-modules"]
	path = ansible-oracle-modules
	url = git@github.com:oravirt/ansible-oracle-modules.git
[submodule "ansible-pacemaker"]
	path = ansible-pacemaker
	url = git@github.com:yosshy/ansible-pacemaker.git
[submodule "ansible-role-bind"]
	path = ansible-role-bind
	url = https://github.com/bertvv/ansible-role-bind.git
[submodule "ansible-role-redmine"]
	path = ansible-role-redmine
	url = https://github.com/bngsudheer/ansible-role-redmine.git
[submodule "cis-rhel-ansible"]
	path = cis-rhel-ansible
	url = https://github.com/major/cis-rhel-ansible.git
[submodule "oracledb-ansible"]
	path = oracledb-ansible
	url = https://github.com/cvezalis/oracledb-ansible.git
[submodule "debops-ansible-bootstrap"]
	path = debops-ansible-bootstrap
	url = https://github.com/debops/ansible-bootstrap.git
[submodule "foreman_ansible"]
	path = foreman_ansible
	url = https://github.com/theforeman/foreman_ansible.git
[submodule "foreman_ansible_inventory"]
	path = foreman_ansible_inventory
	url = https://github.com/theforeman/foreman_ansible_inventory.git
