[submodule "openstack.ansible-hardening"]
	path = openstack.ansible-hardening
	url = https://github.com/openstack/ansible-hardening
[submodule "adfinis-sygroup.ansible-foreman"]
	path = adfinis-sygroup.ansible-foreman
	url = https://github.com/adfinis-sygroup/foreman-ansible.git
[submodule "defunctzombie.ansible-coreos-bootstrap"]
	path = defunctzombie.ansible-coreos-bootstrap
	url = https://github.com/defunctzombie/ansible-coreos-bootstrap.git
[submodule "f500.ansible-dumpall"]
	path = f500.ansible-dumpall
	url = https://github.com/f500/ansible-dumpall.git
[submodule "elastic.ansible-elasticsearch"]
	path = elastic.ansible-elasticsearch
	url = https://github.com/elastic/ansible-elasticsearch.git
[submodule "amarao.ansible-flyway"]
	path = amarao.ansible-flyway
	url = http://github.com/amarao/ansible-flyway.git
[submodule "evrardjp.ansible-keepalived"]
	path = evrardjp.ansible-keepalived
	url = https://github.com/evrardjp/ansible-keepalived.git
[submodule "mrlesmithjr.ansible-kvm"]
	path = mrlesmithjr.ansible-kvm
	url = https://github.com/mrlesmithjr/ansible-kvm.git
[submodule "hichnhack-software.ansible-libvirt"]
	path = hichnhack-software.ansible-libvirt
	url = https://github.com/hicknhack-software/ansible-libvirt.git
[submodule "lefant.ansible-OpenWRT"]
	path = lefant.ansible-OpenWRT
	url = https://github.com/lefant/ansible-OpenWRT.git
[submodule "oravirt.ansible-oracle-modules"]
	path = oravirt.ansible-oracle-modules
	url = https://github.com/oravirt/ansible-oracle-modules.git
[submodule "yosshy.ansible-pacemaker"]
	path = yosshy.ansible-pacemaker
	url = https://github.com/yosshy/ansible-pacemaker.git
[submodule "bertvv.ansible-role-bind"]
	path = bertvv.ansible-role-bind
	url = https://github.com/bertvv/ansible-role-bind.git
[submodule "bngsudheer.ansible-role-redmine"]
	path = bngsudheer.ansible-role-redmine
	url = https://github.com/bngsudheer/ansible-role-redmine.git
[submodule "major.cis-rhel-ansible"]
	path = major.cis-rhel-ansible
	url = https://github.com/major/cis-rhel-ansible.git
[submodule "debops.ansible-bootstrap"]
	path = debops.ansible-bootstrap
	url = https://github.com/debops/ansible-bootstrap.git
[submodule "theforeman.foreman_ansible"]
	path = theforeman.foreman_ansible
	url = https://github.com/theforeman/foreman_ansible.git
[submodule "theforeman.foreman_ansible_inventory"]
	path = theforeman.foreman_ansible_inventory
	url = https://github.com/theforeman/foreman_ansible_inventory.git
[submodule "theforeman.foreman-ansible-modules"]
	path = theforeman.foreman-ansible-modules
	url = https://github.com/theforeman/foreman-ansible-modules.git
[submodule "ginsys.ansible-plugins"]
	path = ginsys.ansible-plugins
	url = https://github.com/ginsys/ansible-plugins.git
[submodule "kairen.kube-ansible"]
	path = kairen.kube-ansible
	url = https://github.com/kairen/kube-ansible.git
[submodule "manala.ansible-roles"]
	path = manala.ansible-roles
	url = https://github.com/manala/ansible-roles.git
[submodule "mrlesmithjr.ansible"]
	path = mrlesmithjr.ansible
	url = https://github.com/mrlesmithjr/Ansible.git
[submodule "openshift.openshift-ansible"]
	path = openshift.openshift-ansible
	url = https://github.com/openshift/openshift-ansible.git
[submodule "openshift.openshift-ansible-contrib"]
	path = openshift.openshift-ansible-contrib
	url = https://github.com/openshift/openshift-ansible-contrib.git
[submodule "cvezalis.oracledb-ansible"]
	path = cvezalis.oracledb-ansible
	url = https://github.com/cvezalis/oracledb-ansible.git
[submodule "oravirt.ansible-oracle"]
	path = oravirt.ansible-oracle
	url = https://github.com/oravirt/ansible-oracle.git
[submodule "sadsfae.ansible-nagios"]
	path = sadsfae.ansible-nagios
	url = https://github.com/sadsfae/ansible-nagios.git
[submodule "sensu.sensu-ansible"]
	path = sensu.sensu-ansible
	url = https://github.com/sensu/sensu-ansible.git
[submodule "tchapi.ansible-playbooks"]
	path = tchapi.ansible-playbooks
	url = https://github.com/tchapi/ansible-playbooks.git
[submodule "theforeman.forklift"]
	path = theforeman.forklift
	url = https://github.com/theforeman/forklift.git
[submodule "mdrotthoff.roles-to-evalute"]
	path = mdrotthoff.roles-to-evalute
	url = git@github.com:mdrotthoff/roles-to-evaluate.git
[submodule "mrlesmithjr.ansible-netdata"]
	path = mrlesmithjr.ansible-netdata
	url = https://github.com/mrlesmithjr/ansible-netdata.git
[submodule "mrlesmithjr.ansible-base"]
	path = mrlesmithjr.ansible-base
	url = https://github.com/mrlesmithjr/ansible-base.git
[submodule "mrlesmithjr.ansible-bootstrap"]
	path = mrlesmithjr.ansible-bootstrap
	url = https://github.com/mrlesmithjr/ansible-bootstrap.git
[submodule "mrlesmithjr.ansible-glusterfs"]
	path = mrlesmithjr.ansible-glusterfs
	url = https://github.com/mrlesmithjr/ansible-glusterfs.git
[submodule "mrlesmithjr.ansible-postfix"]
	path = mrlesmithjr.ansible-postfix
	url = https://github.com/mrlesmithjr/ansible-postfix.git
[submodule "mrlesmithjr.ansible-rsyslog"]
	path = mrlesmithjr.ansible-rsyslog
	url = https://github.com/mrlesmithjr/ansible-rsyslog.git
[submodule "mrlesmithjr.ansible-netplan"]
	path = mrlesmithjr.ansible-netplan
	url = https://github.com/mrlesmithjr/ansible-netplan.git
